.workspace{
    width: calc(100% - 360px);  /* 320 sidebar + 20+20 margin*/
    margin: 20px;
}

.workspace__buttons-wrapper{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.react-markdown{
    width: 100%;
    max-height: 600px;
    overflow: auto;
    word-break: break-all;
}
.react-markdown code {
    white-space: break-spaces;
}